body{
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    width: 100%;
    overflow-x: hidden;
    margin-left: 20px;
    margin-right: 20px;


}
.left{
    float: left;
    width: 60%;
    margin-top: 10px;   
    margin-bottom: 20px;  
}
.right{
    float: right;
    width: 30%;
    background-color: rgb(86, 86, 86);
    color: rgb(255, 255, 255);
    padding: 1px 10px 2px 10px;
    margin-right: 30px;
}
/*
#astromartin{
    float: right;
}*/
.astonmartin{
    height: 300px;
    width: 425px;
    background-color: rgb(106, 106, 106);
}
h1{
    font-size: 40px;
}
#basics{
    background-color: rgb(84, 84, 84);
}
p{
    font-size: 18px;
    word-spacing: 2px;
}

.cover{
    width: 1450px;
    height: 600px;
    background: rgb(0, 0, 0);
    margin-top: 60px;
    display: flex;
    padding-top: 10px;
}
img{
    width: 425px;
    height: 300px;
    display: flex;
    border-radius: 30px;
}
.box2{
    border: 10px;
}
.box{

    margin: 1px;
    margin-top: 10px;
    padding-right: 90px;
    width: 400px;
    height: 300px;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.logo{
    width: 100px;
    border: 5px solid burlywood;
    height: 100px;
    float: left;
}
.footer {
    position:absolute bottom;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color:gray;
    color:black;
    text-align: center;

}
.footer img{
    width: auto;
    border-radius: 30px;
    position: center;
    
}
.inline{
    display: inline-block;
}
 
 
.navbar {
    background-color: rgb(0, 80, 102);
    border-radius: 30px;

}

.navbar ul {
    cursor: pointer;
    overflow: auto;
}

.navbar li {
    float: left;
    list-style: none;
    margin: 13px 20px;

}

.navbar li a {
    padding: 3px 3px;
    text-decoration: none;
    color: rgba(0, 255, 255, 0.5);
}

.navbar li a:hover {
    color: rgb(0, 0, 0);
    cursor: pointer;
}

.navbar input {
    border: 2px solid black;
    border-radius: 14px;
    padding: 3px 17px;
    width: 129px;
}
#logo{
    height: 100px;
    width: 300px;
}

